<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/homePage.css" />
    <title>Collab Room</title>
  </head>
  <body>
    <div class="container">
      <div class="left_col">
        <div class="mainHeading">
          <h1>
            Create or Join room for video meeting and chatting
          </h1>
        </div>
        <div class="subHeading">
          <p>
            A place to video chat with everyone simple interface and responsive for various devices mobile or desktop 
          </p>
        </div>
        <div class="form-element">
            <div class="createRoom">
                <form action="/api/home/create" method="POST" class="createform">
                  <button type="submit" class="btn">create room</button>
                </form>
              </div>
              <div class="joinRoom">
                <form action="/api/home/join" method="POST" class="joinform">
                  <div class="wrapper">
                    <div class="input-data">
                      <input id="roomId" type="text" required name="roomid" autocomplete="off"/>
                      <div class="underline"></div>
                      <label for="roomId">Room ID</label>
                    </div>
                  </div>
                  <!-- <input type="text" placeholder="Room Id" name="roomid"> -->
                  <button type="submit" class="btn join">join</button>
                </form>
              </div>
        </div>
        
      </div>
      <div class="right_col">
        <div class="videoChatImage">
          <img src="img/videoChat.jpg" alt="video chat image" />
        </div>
        
      </div>
    </div>
  </body>
</html>